@import "../dist/webkit-sassui-justify-list-between.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  background: #f8f8f8;
}
.m10 {
  margin: 10px;
}

em{
  font-style: normal;
}

.lc-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.f12 {
  font-size: 12px;
}
.c-9 {
  color: #999;
}
.mt10 {
  margin-top: 10px;
}
.p10 {
  padding: 10px;
}
.tc{
  text-align: center;
}

.title{
  text-align: center;
  padding: 10px 0;
  background: #eee;
}
.test-webkit-sassui-justify-list-between {

  .item {
    margin-bottom: 10px;
    background: #fff;
    img {
      width: 100%;
    }
    width: 48.2%;
  }
}
